---
// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Button from "@components/Button/Button.astro";
import Footer from "@components/Footer/Footer.astro";

// data
import siteData from "@config/siteData.json";
---

<style>
	.date:after {
		content: "";
		position: absolute;
		border-top: 1px solid #e2e8f0;
		top: 12px;
		width: 150px;
	}

	.date:after {
		margin-left: 15px;
	}
</style>

<BaseLayout title={siteData.title} description={siteData.description} navStartStyle="default">
	<section class="mx-auto max-w-3xl px-4 pt-24 md:pt-36" style="min-height: 90vh">
		<div
			class="text-base-content markdown-content mt-8 max-w-none text-sm md:mt-12 md:px-8 md:text-base"
		>
			<h1>Schedule</h1>
			<h3>COMING SOON</h3>
			<p>Please check back later for a detailed schedule of the weekend</p>
			{
				/*
			<div>
				<span class="date relative inline-block font-medium tracking-widest text-gray-900 uppercase"
					>FRIDAY | JULY 11</span
				>
				<div class="mb-2 flex">
					<div class="w-2/12">
						<span class="block text-sm text-gray-600">3:00p</span>
					</div>
					<div class="w-10/12">
						<span class="block text-sm font-semibold">Check-In to Lodging</span>
						<span class="text-sm">Wedgewood Lodge, Breckenridge</span>
					</div>
				</div>
			</div>
			<div>
				<span class="date relative inline-block font-medium tracking-widest text-gray-900 uppercase"
					>SATURDAY | JULY 12</span
				>
				<div class="mb-2 flex">
					<div class="w-2/12">
						<span class="block text-sm text-gray-600">8:00a</span>
						<span class="block text-sm text-gray-600">8:15a</span>
					</div>
					<div class="w-1/12">
						<span class="mt-2 block h-2 w-2 rounded-full bg-blue-400"></span>
					</div>
					<div class="w-9/12">
						<span class="block text-sm font-semibold">Morning Standup</span>
						<span class="text-sm">Zoom ID: 1134 11 1134</span>
					</div>
				</div>
				<div class="mb-4 flex">
					<div class="w-2/12">
						<span class="block text-sm text-gray-600">6:00p</span>
						<span class="block text-sm text-gray-600">7:30p</span>
					</div>
					<div class="w-1/12">
						<span class="mt-2 block h-2 w-2 rounded-full bg-yellow-400"></span>
					</div>
					<div class="w-9/12">
						<span class="block text-sm font-semibold">Dinner with Mom</span>
					</div>
				</div>
			</div>
			<div>
				<span class="date relative inline-block font-medium tracking-widest text-gray-900 uppercase"
					>SUNDAY | JULY 12</span
				>
				<div class="mb-2 flex">
					<div class="w-2/12">
						<span class="block text-sm text-gray-600">3:00p</span>
					</div>
					<div class="w-10/12">
						<span class="block text-sm font-semibold">Check-In to Lodging</span>
						<span class="text-sm">Wedgewood Lodge, Breckenridge</span>
					</div>
				</div>
			</div>
			<div>
				<span class="date relative inline-block font-medium tracking-widest text-gray-900 uppercase"
					>MONDAY | JULY 13</span
				>
				<div class="mb-2 flex">
					<div class="w-2/12">
						<span class="block text-sm text-gray-600">9:00a</span>
						<span class="block text-sm text-gray-600">11:00a</span>
					</div>
					<div class="w-10/12">
						<span class="block text-sm font-semibold">Check-Out of Lodging</span>
						<span class="text-sm">Wedgewood Lodge, Breckenridge</span>
					</div>
				</div>
			</div>
			*/
			}
		</div>
	</section>
	<Footer />
</BaseLayout>
